# build output
dist
target
.tmp

# generated cache
tsconfig.tsbuildinfo

# dependencies
node_modules/

# logs
/**/*.log

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# database
*.db
