---
export interface Props {
  href: string;
  text?: string;
  prefetch?: boolean;
}

let { text = '', href, prefetch } = Astro.props;
---

<a class="text-neutral-50" href={href} rel={prefetch ? 'prefetch' : undefined}>
  <slot>{text}</slot>
</a>
