<form class="flex flex-wrap gap-8" hx-post="/links">
  {% for link in links %}
    <div class="p-4">
      <h2 class="text-3xl text-white">{{link.section.title}}</h2>
      <div class="py-4 flex flex-col gap-4">
        {% for item in link.items %}
          <a href="{{item.link}}" aria-label="{{item.title}}" target="_blank" class="group block text-white hover:text-zinc-300">
            <h4 class="text-xl before:content-['->'] motion-safe:group-hover:before:content-['-->'] before:mr-1">
              {{item.title}}
            </h4>
            {% match item.description %}
              {% when Some with (description) %}
                <p class="mt-2 text-gray-500">{{description}}</p>
              {% when None %}
            {% endmatch %}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
