<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{#if page_title}}
      <title>{{page_title}}</title>
    {{/if}}
  </head>
  <body>
    <h1>{{title}}</h1>
    {{> @partial-block}}
  </body>
</html>
