<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
    {{#if title}}
        <title>{{title}}</title>
    {{/if}}
    {{#each scripts as |sc|}}
        {{ script sc }}
    {{/each}}
    {{#each stylesheets as |stylesheet_url|}}
        {{ stylesheet stylesheet_url }}
    {{/each}}
  </head>
  <body class="bg-black p-8 flex flex-col gap-4 h-screen">
    {{> layout/header.hbs title=title }}
    <main class="flex-grow overflow-auto">
      {{> @partial-block data }}
    </main>
    {{> layout/footer.hbs }}
  </body>
</html>
