<footer class='w-full flex gap-8'>
  <div class='py-2 border-t-4 border-emerald-500 text-emerald-500'>
    System is OK
  </div>
  <div class='flex-grow py-2 border-t-4 border-gray-500 text-gray-500'>

  </div>
</footer>