<footer class='w-full flex gap-4'>
  <div class='p-2 border-t-4 border-lime-950 text-lime-950'>
    System is OK
  </div>
  <div class='flex-grow p-2 border-t-4 border-gray-500 text-gray-500'>
    Pepa working
  </div>
</footer>
