{% let len = section_title.len() %}

{% let size -%}
{% if len > 9 -%}
  {% let size = len - 3 -%}
{% else -%}
  {% let size = 6 -%}
{% endif -%}
<input
  id="section-{{section_id}}-title"
  class="text-3xl text-white bg-transparent"
  name="title"
  hx-patch="/links/section/{{section_id}}"
  hx-trigger="input delay:650ms changed"
  hx-swap="outerHTML"
  hx-target="this"
  hx-indicator="#section-{{section_id}}-indicator"
  hx-ext="disable-input"
  value="{{ section_title }}"
  size="{{ size }}"
  data-sync-input-size
  data-sync-input-size-min="6"
  data-sync-input-size-modification="-3"
/>
